@model WarsztatMVC.Models.ClientModel

@{
    ViewData["Title"] = "Edycja klienta";
}

<div class="edit-a-form-full">
    <div class="edit-a-form">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @* <label asp-for="Id_klient" class="control-label"></label> *@
                <input asp-for="Id_klient" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numer_telefonu" class="control-label"></label>
                <input asp-for="Numer_telefonu" class="form-control" />
                <span asp-validation-for="Numer_telefonu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz zmiany" class="btn btn-primary" />
            </div>
        </form>
    </div>


    <div class="button-free">
        <div class="button-back">
            <a asp-action="Index">Powrót do listy klientów</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
